html{
    overflow-y: scroll;
    height: 100%;
}

body{
    background-color: white;
    text-align: justify;
    font-family: serif;
/*    height: 65em;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0em;
}









/* ##############  HEADER ############## */
.header{
    background-image: url('img/LSS.png');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
}

.header_research{
    background-image: url('img/research.png');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
}

.header_im{
    background-image: url('img/im.png');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
}

.header_neutrinos{
    background-image: url('img/neutrinos.png');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
}

.header_publications{
    background-image: url('img/books.png');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
}

.header_code{
    background-image: url('img/code.png');
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
}

.header_ic{
    background-color: darkblue;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
}

.header_uc{
    background-color: black;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    position: absolute;
}


.white_color{
    color: white;
}

.yellow_color{
    color: yellow;
}

.black_color{
    color: black;
}

.red_color{
    color: orange;
}


.header-name {
  font-size: 50px;
  margin-top: -0.5em;
  padding: 0em;
  line-height: 0.1em;
  margin-bottom: 1.7em;
}

.header-menu {
    position: relative;
/*
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
*/
    width: 60em;
    margin: auto;
    display: table;
/*    margin: auto;*/
    padding-left: 0em;
    padding-right: 0em;
}

.header-menu li{
  display: table-cell;
  text-align: center;
  width: 5em;
}

.header-menu li a{
/*  color: white;*/
  text-decoration: none;
  font-size: 25px;
}

.header-menu li:hover .research-menu {
    z-index:1;
    opacity:1;
}

.arrow{
    font-size: 13px;
}

.header-menu li:hover ul.research-menu{
    display: block;
    width:17%;
    padding-left: 0em;
    padding-right:0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0em;
    margin-right: 0em;
    position:absolute;
    top:100%;
    z-index:999;
/*    background-image: url('img/LSS.png');*/
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
}

.research-menu {
    display: none;
}
 
.research-menu li {
    display: block;
    width: 12em;
    line-height: 1em;
}
 
.research-menu li a {
    padding: 10px 0px 10px 10px;
    display: block;
    font-size: 20px;
    text-align: center;
}
 































/* ##############  BODY ############## */
.presentation{
    width: 60em;
    padding-top: 12.5em;    
    margin: auto;  
    flex: 1 0 auto;
}

.presentation-photo{
    margin: 0em;
    padding-left: 0em;
    padding-right: 1.5em;
    padding-top: 2em;
    padding-bottom: 1em;
    float: left;
    width: 15em;
}

.presentation-text {
    margin-left: -0.5em; /* Align text with photo on left part */
    margin-top: -0.1em;  /* Align text with photo on top part */
    padding: 0.5em;
    font-size: 1.4em;
}


.publications_links{
    width: 55em;
    margin: auto;
    padding-left: 0em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.publications_links li{
    display: table-cell;
    margin: auto;
    width: 16em;
    text-align: center;
    font-size: 30px;
}

.publication-list li{
    margin-bottom: 3em;
}

.video_neutrinos{
    width: 55em;
    height: 36em;
    display: block;
    margin: auto;
    padding-top: 0em;
    margin-top: -1em;
}

.image1{
    width: 50em;
    margin: auto;
    padding-top: 0em;
    display: block;
}

.image2{
    width: 42em;
    margin: auto;
    padding-top: 0em;
    display: block;
}

.image3{
    width: 60em;
    margin: auto;
    padding-top: 0em;
    display: block;
}

.research_field{
    height: 17em;
    width: 17em;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1em;
    float: left;
}

.research_field2{
    height: 17em;
    width: 17em;
    margin-top: 1em;
    margin-left: 10em;
    margin-right: 3em;
    margin-bottom: 1em;
    float: left;
}

.research_field3{
    height: 17em;
    width: 17em;
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 10em;
    margin-bottom: 1em;
    float: left;
}

































/* ##############  FOOTER ############## */
.footer{
    background-color: lightgrey;
    width: 60em;
    margin: auto;
}

.footer-info{
    line-height: 0.3em;
    padding-left: 4%;
    margin-left: 0em;
    padding-right: 16%;
    float: left;
}

.footer-icons{
    width: 20%;
    display: table;
    margin: auto;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.footer-icons li {
    display: table-cell; 
    width: auto;
    padding-right: 20%;
    text-align: center;
}



